[Master]
disable =
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-module-docstring
    R0903, # missing-module-docstring
    C0103, # invalid-name
    W0612, # unused-variable
    C0301, # line-too-long
    W0613, # unused-argument
    W0511, # no-TODO
    W0602, # global-variable-not-assigned
    W0603, # global-variable